/* Container for the slider */
.slider-container {
    width: 90%;
    margin: 0 auto;
    padding: 1  0px;
    box-sizing: border-box;
    display: flex;
  }
  @media (max-width: 768px) {
    .slider-container {
      padding: 10px; /* Adjust padding for mobile */
    }
  }
  
  /* Individual Slide */
  .slick-slide {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }

 
  .slick-slide h3 {
    background: #324898; /* Background color for the slides */
    color: white;
    padding: 40px 0;
    font-size: 1.5rem;
    border-radius: 8px;
    }
  
  /* Dots Navigation */
  .slick-dots {
    text-align: center;
    margin-top: 10px;
    list-style: none;
    padding: 0;
  }
  @media (max-width: 768px) {
    .slick-dots {
      padding: 10px; /* Adjust padding for mobile */
      text-align: center;
    }
  }
  
  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }
  @media (max-width: 768px) {
    .slick-dots li {
      padding: 10px; /* Adjust padding for mobile */
    }
  }
  
  .slick-dots li button {
    background-color: #ccc;
    border: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    transition: background-color 0.3s;
  }
  @media (max-width: 768px) {
    .slick-dots li button {
      padding: 10px; /* Adjust padding for mobile */
    }
  }
  
  .slick-dots li.slick-active button {
    background-color: #324898; /* Active dot color */
  }
  
  /* Arrow Buttons */
  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    z-index: 1;
  }
  @media (max-width: 768px) {
    .slick-dots {
      padding: 10px; /* Adjust padding for mobile */
    }
  }
  
  .slick-prev {
    left: 10px;
  }
  
  .slick-next {
    right: 110px;
  }
  
  .slick-prev:hover, .slick-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Slider Arrows Text */
  .slick-prev::before, .slick-next::before {
    content: '';
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .slick-slide h3 {
      font-size: 1.2rem;
      padding: 20px 0;
    }
  
    .slick-prev, .slick-next {
      padding: 4px;
    }
  }
  