.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 16px;
    padding: 16px;
    max-width: 100%;
    width: 100%;
    margin: 20 auto;
}

.portfolio-card h3 {
    font-weight: bold;
    font-size: 5rem;
}

.portfolio-card {
    display: grid;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit; 
    background-color: var(--card-bg-color, #ffffff);
    color: var(--card-text-color, #000000);
    border-radius: 8px;

    @media (prefers-color-scheme: dark) {
        background-color: var(--card-bg-color-dark, #121723);
        color: var(--card-text-color-dark, #ffffff);
    }

    padding: 16px;
    transition: transform 0.2s, box-shadow 0.2s ease-in-out background-color #213766 0.2s;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #245cd6;
        transition: left 0.5s ease-in-out;
        z-index: -1;
    }

    &:hover::before {
        left: 0;
    }
}

.portfolio-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolio-card h3 {
    margin: 0 0 8px;
    font-size: 1.25rem;
}

.portfolio-card p {
    margin: 0 0 16px;
    overflow-wrap: normal;
    font-size: 1rem;
    text-align: left;
    text-wrap: soft;
}

.portfolio-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
} 

