/* Container for the carousel */
.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    margin: 0 auto;
    
  }
  
  .carousel-container h2 {
    margin-bottom: 20px;
    font-size: 48px;
    color: #757575;
    font-family: barlow, sans-serif;  
  }
 
  
  /* Carousel image and navigation buttons */
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
  }
    
  .carousel img:hover {
    transform: scale(1.05);
  }
  
  /* Navigation buttons for previous/next */
  .carousel button {
    background-color: #0038AD;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 40px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .carousel button:hover {
    background-color: #0056b3;
  }
  
  /* Website switch buttons */
  .website-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
    
}
  .website-buttons button {
    background-color: #0038AD;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  .website-buttons button:hover {
    background-color: #001b57;
    transform: translateY(-3px);
  }
  
  .website-buttons button.active {
    background-color: #1a3f8f;
    color: white;
  }
  
/* Carousel animation for faded slide in */
/* @keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
} */

.carousel img {
    max-width: 100%;
    border-radius: 8px;
    border: 2px solid #ddd;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.carousel.animate img {
    animation: fadeSlideIn 0.5s ease-in-out;
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}